body {
  background-color: rgb(35, 78, 142);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 72px;
  font-weight: 800;
  line-height: 1;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../media/lau-pa-sat.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  padding: 100px 20px;
  text-align: center;
}

header h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  letter-spacing: 5px;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  margin: 0;
}

header a {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

header a:hover {
  background: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
}

main {
  margin: 0;
}

main section {
  padding: 50px;
}

main h2 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

main section.section-1,
main section.section-3 {
  background: rgb(255, 255, 255);
}

main section.section-2 {
  background-color: rgb(48, 48, 50);
}

.main-grid-1 {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  padding: 50px 100px;
  grid-template-columns: 1fr 1fr;
}

.main-grid-1 div {
  display: block;
  margin: 0 auto;
}

.main-grid-1 img {
  max-width: 450px;
}

.main-grid-1 p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  line-height: 1.5;
}

footer {
  background-image: linear-gradient(rgba(0, 12, 52, 0.8), rgba(0, 12, 52, 0.8)),
    url("../media/food.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 80px 100px;
}

footer h3 {
  font-weight: 900;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

footer ul,
footer p {
  line-height: 1.5;
}

footer a {
  color: white;
}

div.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

div.footer-grid div {
  margin: 0 14px;
}

@media (max-width: 1250px) {
  .main-grid-1 {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }

  header {
    padding: 50px 20px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3,
  header a,
  p,
  footer {
    font-size: 14px;
  }

  main h2 {
    font-size: 28px;
  }

  .main-grid-1 {
    padding: 20px 50px;
  }

  footer {
    padding: 50px;
  }

  div.footer-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  main section {
    padding: 20px;
  }

  .main-grid-1 {
    grid-row-gap: 20px;
  }

  .main-grid-1 img {
    max-width: 300px;
  }
}

@media (max-width: 440px) {
  .main-grid-1 {
    padding: 0;
  }

  .main-grid-1 h3 {
    text-align: center;
  }

  .main-grid-1 p {
    display: none;
  }
}
